<LabelName
  {{#@LanguageAndScriptCode}}
    LanguageAndScriptCode="{{@LanguageAndScriptCode}}"
  {{/@LanguageAndScriptCode}}
  {{#@LabelNameType}}
    LabelNameType="{{@LabelNameType}}"
  {{/@LabelNameType}}
  {{#@Namespace}}
    Namespace="{{@Namespace}}"
  {{/@Namespace}}
  {{#@UserDefinedValue}}
    UserDefinedValue="{{@UserDefinedValue}}"
  {{/@UserDefinedValue}}
>{{LabelName}}</LabelName>
