<PartyId
  {{#@Namespace}}
    Namespace="{{@Namespace}}"
  {{/@Namespace}}
  {{#@IsDPID}}
    IsDPID="{{@IsDPID}}"
  {{/@IsDPID}}
  {{#@IsISNI}}
    IsISNI="{{@IsISNI}}"
  {{/@IsISNI}}
>{{PartyId}}</PartyId>
