<PLine
  {{#@LanguageAndScriptCode}}
    LanguageAndScriptCode="{{@LanguageAndScriptCode}}"
  {{/@LanguageAndScriptCode}}
  {{#@PLineType}}
    PLineType="{{@PLineType}}"
  {{/@PLineType}}
>
  {{#Year}}
    <Year>{{Year}}</Year>
  {{/Year}}
  {{#PLineCompany}}
    <PLineCompany>{{PLineCompany}}</PLineCompany>
  {{/PLineCompany}}
    <PLineText>{{PLineText}}</PLineText>
</PLine>
